@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-lml7tc {
  border: none;
}

.mantine-lml7tc .ql-editor {
  padding: 12px 12px 50px 16px !important;
  font-size: large;
  background-color: #f9fafb;
  min-height: 500px;
  border-radius: 0.3rem;
}

.mantine-bdajhj {
  border: none;
}
